<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <link rel="icon" type="image/x-icon" href="/static/8bitcc.ico" />
    <title>{% block title %}shot-scraper-api{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% block description %}Shot Scraper API{% endblock %}" />
    <!-- <link rel="stylesheet" href="/static/main.css" /> -->
    <link rel="stylesheet" href="/static/app.css" />
    <script src="/static/htmx@1.9.4.min.js"></script>

    {% block meta %} {% endblock %} {% if DEBUG %} {{
    hot_reload.script(url_for('hot-reload')) | safe }} {% endif %} {% endblock
    %}
</head>

<body class="mx-auto h-screen w-screen bg-zinc-800">
    <div class="flex flex-col h-screen w-screen justify-between">
        <nav></nav>
            {% block content %}
            {% endblock %}
            <footer class="m-5  text-center text-neutral-400 justify-self-end ">
                {% block footer %} &copy; Copyright 2023 by
                <a class="text-pink-500 hover:underline" href="http://waylonwalker.com">waylonwalker</a>. {% endblock %}
        </div>
    </div>
</body>

</html>
